/* ==UserStyle==
@name           Custom 4chan
@namespace      https://github.com/just12/web-styles
@version        0.1.0
@description    Custom style
@author         just12
==/UserStyle== */
@-moz-document url-prefix("https://www.4chan.org/") {
div#ft,#hd,div#doc div:nth-child(7),div#doc div:nth-child(8),div#doc div:nth-child(9),div#doc div:nth-child(10),div#boards div div.boxbar, #popular-threads, #site-stats{display:none;}

div#boards{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 738px;
    border: 20px solid #111;
    box-shadow: 5px 5px 15px rgba(20,20,20,.3);
    color: #fff;
    background: rgba(20,20,20,.7);
}

html{
    background-position: center;
    background-size: cover;
    background-image: url(https://u.teknik.io/oG73h.jpg);
    background-attachment: fixed;
}

body{background: none !important;}

ul li a{color: #bbb !important;}
ul li a:hover{color: #fff !important;text-decoration: none !important;}
/*
div.column:nth-child(1) ul:nth-child(2) li:nth-child(1) a,
div.column:nth-child(1) ul:nth-child(2) li:nth-child(3) a,
div.column:nth-child(3) ul:nth-child(2) li:nth-child(6) a,
div.column:nth-child(3) ul:nth-child(2) li:nth-child(13) a,
div.column:nth-child(2) ul:nth-child(2) li:nth-child(2) a
{color: #99f !important;}
*/
}