/* ==UserStyle==
@name           Custom horriblesubs
@namespace      https://github.com/just12/web-styles
@version        0.2.0
@description    A new userstyle
@author         just12
==/UserStyle== */

@-moz-document url-prefix("https://horriblesubs.info/shows/"), url("https://horriblesubs.info/current-season/") {
    #post-134721 > div > div.series-desc > p
    {color: #eee !important}
    
    .series-image img {
    box-shadow: none;
    }
}

@-moz-document url-prefix("https://horriblesubs.info") {
    #main > div.latest-sponsor.text-center,
    #secondary > div:nth-child(1) > div.homepage-sponsor.text-center,
    #main > div.comment-wrapper,
    #disqus_thread,
    #secondary > div:nth-child(2),
    #post-134721 > div > div.rls-sponsor.text-center
    {display: none;}
    
    .navbar.navbar-default,
    .post-inner-content,
    .well,
    #secondary > div:nth-child(1) > iframe
    {background-color: #111 !important;}
    
    body,
    .form-control,
    .table-hover>tbody>tr:hover, .schedule-table>tbody>tr:hover,
    .latest-releases a:hover, .latest-show-more a:hover,
    .rls-label:hover
    {background-color: #222 !important;}
    
    .latest-releases .active
    {background-color: #f22;}
    
    .latest-releases .active a:hover
    {background-color: #f11 !important;}
    
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > .caret, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
    a,
    body,
    .rls-info-container a:focus, .show-more a:focus, .rls-label:hover, .entry-title
    {color: #f22;}
    
    .latest-releases .active a
    {color: #000;}
    
    .form-control
    {color: #eee;}
    
    .navbar.navbar-default,
    .post-inner-content,
    .well
    {box-shadow: none;}
    
    .well,
    .form-control
    {border-radius: 0;}
    
    .navbar-brand{background-image: none !important;background-color: #f22;}
    
    .latest-releases ul li,
    .form-control,
    .rls-info-container,
    .hs-shows
    {border: none;}
    
    .rls-label
    {padding: 3px;}
    
    input{outline: none !important;}
    
    .form-control:focus{
        border: none;
        box-shadow: none;
    }
    
    .navbar-brand:hover{color:#eee !important;}
}