/* ==UserStyle==
@name           Custom mangadex
@namespace      https://github.com/just12/web-styles
@version        0.2.0
@description    I dont like those gradients
@author         just12
==/UserStyle== */
@-moz-document url-prefix("https://mangadex.org/") {
    #content > div.row > div.col-lg-4 > div:nth-child(2)
    {display: none;}
    
    .bg-light, .bg-dark
    {background-color: #000 !important;}
    
    body, .bg-reader-controls,
    .dropdown-menu
    {background-color: #111 !important;}
    
    thead, .table-header, .card-header, .modal-header
    {background-color: #222;}
    
    .card,
    .list-group-item,
    .btn-secondary, .btn-default, .btn-outline-secondary,
    .form-control, .form-control:focus,
    .card-body, #latest_updates, #follows_updates, #site_settings, #change_profile, #change_password, #upload_settings, #reader_settings, #filter_settings, .modal-body, .modal-footer, .well
    {background: #333 !important;}
    
    div.car-caption,
    .dropdown-item:hover, .dropdown-item:focus, .dropdown-item.active
    {background-color: #333;}
    
    .badge-secondary, kbd,
    .btn-secondary:hover, .btn-secondary:focus, .btn-default:hover, .btn-default:focus, .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.active,
    .alert,
    .btn-light, .page-item .page-link, .page-item.disabled .page-link
    {background-color: #666 !important;}
    
    .btn-light:hover, .btn-light:active, .btn-light:focus, .page-item.active .page-link
    {background-color: #777 !important;}
    
    .nav-pills .nav-link:not(.active), .nav-pills .show > .nav-link
    {background: #ff222222;}
    
    .nav-tabs .nav-link:not(.active):hover, .nav-pills .nav-link:not(.active):hover, .nav-tabs .nav-link:focus,
    .reader-page-bar .thumb, .reader-page-bar:hover .thumb
    {background-color: #ff222255 !important;}
    
    .reader-page-bar .trail
    {background-color: #33333388 !important;}
    
    .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link, .nav-pills .nav-link.active, .nav-pills .show > .nav-link
    {background-color: #f22;}
    
    .list-group-item
    {border-color: #000;}
    
    .nav.nav-tabs, .nav.nav-pills, .card-header-pills,
    .border-bottom,
    .border-top
    {border-color: #f22 !important;}
    
    .bg-light, .bg-dark
    {border: none !important;}
    
    .text-muted
    {color: #444;}
    
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus,
    a, .nav-tabs .nav-link:not(.active):hover, .nav-tabs .nav-link:focus
    {color: #ccc;}
    
    footer
    {display:none;}   input[type="text"]::-webkit-input-placeholder{color: #999;}
    input[type="text"]::-moz-placeholder{color: #999;}    
    input[type="text"]:-ms-input-placeholder{color: #999;}    
    input[type="text"]:-moz-placeholder{color: #999;}
    
    textarea.form-control::placeholder{color: #999;}


}