/* ==UserStyle==
@name           Custom mangadex
@namespace      https://github.com/just12/web-styles
@version        0.1.0
@description    I dont like those gradients
@author         just12
==/UserStyle== */
@-moz-document url-prefix("https://mangadex.com/") {
    footer
    {display:none;}
    
    *{outline: none !important;}
    
    .btn .btn-info,
    .btn .btn-success,
    .btn-danger,
    .btn-warning
    {border: 0px solid #000 !important;}
    
    .btn .btn-info,
    .btn .btn-success
    {border: none !important;}
    
    .pagination > li.active > a, .pagination > li.active > span
    {background-image: linear-gradient(#080808 0%, #080808 100%);}
    
    .navbar-default .navbar-nav > li > a:hover
    {background-image: linear-gradient(#111 0%, #111 100%);}
    
    .navbar-default,
    .pagination > li > a:hover, .pagination > li > span:hover
    {background-image: linear-gradient(#222 0%, #222 100%);}
    
    .btn-default,
    .pagination > li.disabled > a, .pagination > li.disabled > a:hover, .pagination > li.disabled > span, .pagination > li.disabled > span:hover,
    .pagination > li > a, .pagination > li > span
    {background-image: linear-gradient(#333 0%, #333 100%);}
    
    .btn-default:hover
    {background-image: linear-gradient(#444 0%, #444 100%);}
    
    .btn-danger
    {background-image: linear-gradient(#f22, #f22);}
    
    .btn-danger:hover
    {background-image: linear-gradient(#ff4b4b, #ff4b4b);}
    
    .btn-info
    {background-image: linear-gradient(#22ABFF, #22ABFF);}
    
    .btn-info:hover
    {background-image: linear-gradient(#4dbbff, #4dbbff);}
    
    .btn-success
    {background-image: linear-gradient(#3aa61c, #3aa61c);}
    
    .btn-success:hover
    {background-image: linear-gradient(#56ac3d, #56ac3d);}
    
    .btn-warning
    {background-image: linear-gradient(#d8a30e, #d8a30e);}
    
    .btn-warning:hover
    {background-image: linear-gradient(#eebb2c, #eebb2c);}
    
	body,
    .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default
    {background-color: #111 !important;}
    
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
    .table-responsive > .table,
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
    .panel-default > .panel-heading,
    .label-default
    {background-color: #222;}
    
    .nav > li > a:hover, .nav > li > a:focus,
    .table-striped > tbody > tr:nth-of-type(odd),
    table.table.table-condensed.edit,
    table,
    .panel
    {background-color: #333;}
    
    .table-hover > tbody > tr:hover,
    .dropdown-menu,
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    {background-color: #444;}
    
    .badge
    {background-color: #999;}
    
    .label-danger
    {background-color: #f22;}
    
   
    .alert-warning {
    color: #fff;
    background-color: #d8a30e;
    border-color: #d8a30e;
	}
    
    .text-info, .text-info:hover
    {color: #22ABFF;}
    
    .text-success, .text-success:hover
    {color: #5EE239;}
}

	textarea,
	.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus
	{color: #999;}

/*
@-moz-document url("https://mangadex.com/") {
	.nav li a img{
        position: absolute;
        width: 24px !important;
        height: 24px !important;
	}
    
    ul.nav.nav-tabs li:nth-child(2) a img{background: url(https://discordapp.com/assets/6c2b2176dab23f4abaceb3bf23338483.svg) no-repeat;}
    
    ul.nav.nav-tabs li:nth-child(3) a img{background: url(https://discordapp.com/assets/f740368e08d0e77f34546769b88d7ca6.svg) no-repeat;}
    
    ul.nav.nav-tabs li:nth-child(4) a img{background: url(https://discordapp.com/assets/e4b276d04927069a7cc48cc3d10d3468.svg) no-repeat;}
    
    ul.nav.nav-tabs li:nth-child(5) a img{background: url(https://discordapp.com/assets/d7911bd31655d985542bb6830922ac24.svg) no-repeat;}
    
    ul.nav.nav-tabs li:nth-child(6) a img{background: url(https://discordapp.com/assets/5e0529582f11d6d30e74ed3a28ac486e.svg) no-repeat;}
    
    ul.nav.nav-tabs li:nth-child(7) a img{background: url(https://discordapp.com/assets/57c4dc5e07d9b43166ef75f7b2a3564b.svg) no-repeat;}
}
*/