/* ==UserStyle==
@name           Custom scrollbars
@namespace      https://github.com/just12/web-styles
@version        0.1.0
@description    Custom style
@author         just12
==/UserStyle== */
@-moz-document url-prefix("https://www.tumblr.com/"), url-prefix("https://www.youtube.com"), url-prefix("https://boards.4chan.org/"), url-prefix("https://www.reddit.com/"), url-prefix("https://hooktube.com/"), url-prefix("https://twitter.com/") {
::-webkit-scrollbar,::-webkit-scrollbar-button, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-resizer{display: none;}
}

::-webkit-scrollbar{
    background-color: #0003;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffffb3;
    border-radius: 100px;
}

::-webkit-scrollbar-corner{background-color: #222;}
/*
::-webkit-resizer{}
::-webkit-scrollbar-button{}
::-webkit-scrollbar-track{}
::-webkit-scrollbar-track-piece{}
*/