/* ==UserStyle==
@name           Custom youtube
@namespace      https://github.com/just12/web-styles
@version        0.1.0
@description    Custom style
@author         just12
==/UserStyle== */
@-moz-document domain("youtube.com") {
ytd-guide-section-renderer.style-scope.ytd-guide-renderer:nth-child(4),
ytd-guide-section-renderer.style-scope.ytd-guide-renderer:nth-child(5),
ytd-guide-section-renderer.style-scope.ytd-guide-renderer:nth-child(6),
div#footer.style-scope.ytd-guide-renderer,
div#buttons.style-scope.ytd-masthead,
ytd-topbar-logo-renderer#logo.style-scope.ytd-masthead,
button#guide-button.style-scope.ytd-masthead,
#alerts
{display: none;}

ytd-searchbox[mode=legacy][has-focus]#container.ytd-searchbox,
div#container.style-scope.ytd-searchbox,
ytd-searchbox[mode=legacy][has-focus] #container.ytd-searchbox,
ytd-searchbox[mode=legacy-centered][has-focus] #container.ytd-searchbox
{border: 0px !important;}

ytd-searchbox#search.style-scope.ytd-masthead,
form#search-form.style-scope.ytd-searchbox
{
	position: absolute !important;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: none;
    margin: 0px;
}

ytd-watch[theater] #player.ytd-watch{max-height: calc(100vh - 56px);}
/*.ytp-iv-video-content{height: 100% !important;width: 100% !important;}*/

ytd-searchbox[mode=legacy] #container.ytd-searchbox{
    border: 0px;
    background-color: #000;
    border-radius: 0px;
}

.badge-style-type-live-now.ytd-badge-supported-renderer{
    background-color: #000;
    color: #f22;
    border-color: #f22 !important;
}

form#search-form.style-scope.ytd-searchbox{border-bottom: 1px solid #111;}
div#sections{border-right: 1px solid #111;}
#search-icon-legacy.ytd-searchbox{border: 0px;border-left: 1px solid #111 !important;}
*{outline: none !important;}

div#sections,
ytd-browse,
button#search-icon-legacy,
ytd-watch,
body,html,
div.ytd-app
{background-color: #000 !important;}

ytd-playlist-sidebar-renderer,
.header.ytd-playlist-panel-renderer,
ytd-add-to-playlist-renderer
{background-color: #040404 !important;}

ytd-browse[page-subtype="playlist"] ytd-two-column-browse-results-renderer.ytd-browse,
.playlist-items.ytd-playlist-panel-renderer
{background-color: #0b0b0b;}

ytd-subscribe-button-renderer:not([button-style]) paper-button:not([subscribed]),
ytd-thumbnail-overlay-resume-playback-renderer,
#progress.ytd-thumbnail-overlay-resume-playback-renderer,
#like-bar.ytd-sentiment-bar-renderer,
div.ytp-play-progress.ytp-swatch-background-color
{background-color: #f22 !important;}

#label.checkbox-height.ytd-playlist-add-to-option-renderer:hover,
a.yt-simple-endpoint.style-scope.yt-formatted-string:hover,
span.style-scope.ytd-comment-renderer:hover,
span#video-title:hover,
paper-button.align-by-text.style-scope.ytd-comment-replies-renderer:hover
{color: #f22;}

span.style-scope.ytd-grid-video-renderer,
yt-formatted-string.style-scope.ytd-grid-video-renderer.complex-string a
{color: #444;}
} 

